<% provide(:title, t("weight-index-title")) %>
<div class="row">
  <div class="col-sm">
    <h2><%= t("weight-index-title") %></h2>
  </div>
</div>
<div class="row mb-3">
  <div class="col-sm">
    <% if @weights.empty? %>
      <p><%= t("no-weights-message") %></p>
    <% end %>
    <%= link_to t("add-new-weight"), new_weight_path, class: "btn btn-primary" %>
  </div>
</div>
<% if !@weights.empty? %>
  <div class="row">
    <div class="col-sm" id="chart-section">
      <!-- DATAVIZ SECTION -->
      <svg id="chart"></svg>
      <script>
        const data = <%= @weights.reverse.to_json.html_safe %>
        var width = document.getElementById("chart-section").offsetWidth
        var barHeight = 20

        var x = d3.scaleLinear()
          .domain([0, d3.max(data, function(d) { return d.weight })])
          .range([0, width])

        var chart = d3.select("#chart")
          .attr("width", width)
          .attr("height", barHeight * data.length)

        var bar = chart.selectAll("g")
          .data(data)
        .enter().append("g")
          .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")" })

        bar.append("rect")
          .attr("width", function(d) { return x(d.weight) })
          .attr("height", barHeight - 1)

        bar.append("text")
          .attr("x", function(d) { return x(d.weight) - 3 })
          .attr("y", barHeight / 2)
          .attr("dy", ".35em")
          .text(function(d) { return d.weight })

      </script>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= t("minimum") %></div>
        <div class="card-body text-dark">
          <p class="card-text display-4"><%= @weights.min_by(&:weight).weight %></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= t("maximum") %></div>
        <div class="card-body text-dark">
          <p class="card-text display-4"><%= @weights.max_by(&:weight).weight %></p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= t("average") %></div>
        <div class="card-body text-dark">
          <p class="card-text display-4"><%= averageWeight(@weights) %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col"><%= t("date") %></th>
              <th scope="col"><%= t("weight") %></th>
            </tr>
          </thead>
          <tbody>
            <% @weights.each do | weight | %>
              <tr>
                <th scope="row"><%= link_to formatDateWeekdays(weight.date), weight %></th>
                <td><span class="<%= weight.weight <= averageWeight(@weights).to_d ? "text-success" : "text-danger" %>"><%= weight.weight %></span></td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <%= link_to t("show-all-weights"), weights_path(numrecords: "all"), class: "btn btn-outline-secondary" unless params[:numrecords] == "all" %>
  </div>
  <% end %>
</div>






