<% provide(:title, "New Weight") %>
<h1>Add a weight</h1>

<%= form_for(@weight) do |f| %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  
  <%= f.label :weight %>
  <%= f.text_field :weight %>
  
  <%= f.submit %>
<% end %>
