<% provide(:title, t("weight-show-title")) %>
<div class="row">
  <div class="col-sm">
    <h2><%= t("weight-show-title") %></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <%= label_tag t('date') %>
      <span class="form-control-plaintext"><%= formatDate(@weight.date) %></span>
    </div>
    <div class="form-group">
      <%= label_tag t('weight') %>
      <span class="form-control-plaintext"><%= @weight.weight %></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= link_to t('back-to-list'), root_path, class: "btn btn-outline-secondary" %>
    <%= link_to t('delete'), @weight, method: :delete, 
                                      data: { confirm: 'Are you sure?' },
                                      class: "btn btn-outline-danger" %>
    <%= link_to t('edit-weight'), edit_weight_path, class: "btn btn-primary" %>
  </div>
</div>