<% provide(:title, "Weight") %>
<div class="row">
  <div class="col-sm">
    <h2>Weight</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <%= label_tag "Date" %>
      <span class="form-control-plaintext"><%= formatDate(@weight.date) %></span>
    </div>
    <div class="form-group">
      <%= label_tag "Weight" %>
      <span class="form-control-plaintext"><%= @weight.weight %></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= link_to "< Back to list", weights_path, class: "btn btn-outline-secondary" %>
    <%= link_to "Delete", @weight, method: :delete, 
                                      data: { confirm: 'Are you sure?' },
                                      class: "btn btn-outline-danger" %>
    <%= link_to "Edit", edit_weight_path, class: "btn btn-primary" %>
  </div>
</div>